f {
  color:black;
  font-size:20px;
  font-family:monospace;
}

img {
display: block;
margin-left: auto;
margin-right: auto;


}
.list{
  margin: auto;
  width: 50%;

}

body {
  background-color: #FAF0E6
}

.list h2 {
  text-align: center;
}


h2{

text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
ul.body{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.pix {
  width:500px;
  height:500px;
  align: middle;
  border-width: 10px;
  border-color: #BABABA
}

.owo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 76%;
  height: 76%;
}
