h1 {
  font-family: monospace, sans-serif;
  text-align: left;
  font-size: 42px;
  font-weight: bold;
}

p {
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

margin {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
border{
  border-left-style: solid;
  border-left-width: 90px;
  border-right-style:solid;
  border-right-width: 90px
}
