h1 {
  font-family: monospace, sans-serif;
  text-align: left;
  font-size: 42px;
  font-weight: bold;
}

p {
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

.margin {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: auto;
}

.border{

  border-right-color: #858585;
  border-left-style: solid;
  border-left-width: 90px;
  border-left-color: #858585;
  border-right-style: solid;
  border-right-width: 90px;

}
