head {
font-size: 38px;
text-align: center;
}


img {
display: block;
margin-left: auto;
margin-right: auto;

}


body {
  background-color: #FAF0E6
}

h1 {
  text-align: center;
  font-size: 38px;
}

p {
text-align: center;
}

.list{
  margin: auto;
  width: 50%;

}


.list h2 {
  text-align: center;
}


h2{

text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.body {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}
li {
  float: left;
}

.bullet ul{
  list-style-type: square;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CCDBEE;
  display: block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
