h1 {
  text-align:center;
  font-size: 38px;
}

h2 {
  text-align:center;
  font-size: 18px;
}

p {
  text-align:center;
  font-size: 18px;
}

.dropdown {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.mental {
  position: relative;
}

.mental button {
  visibility: visible;
}

.mental ul {
  position: absolute;
  background: white;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  transform: translateY(-10px);
}

.mental li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mental li:hover {
  background-color: rgb(218, 179, 191);
}

.dropdown button,
.nav-btn {
  background: none;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.dropdown button:hover,
.nav-btn:hover {
  color: rgb(224,224,224);
}

.mental button:hover + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
