body{
  background-color:#CCDBEE;
}
h1 {
  text-align:center;
  font-size: 38px;
}

h2 {
  text-align:left;
  font-size: 18px;
}

p {
  text-align:left;
  font-size: 18px;
}

.list{
  margin: auto;
  width: 50%;

}


.list h2 {
  text-align: center;
}


.bullet ul{
  list-style-type: square;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CCDBEE;
  display: block;
}

.active ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.active li {
  float: left;
}

li a {
  display: block;
  color: white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
