h1 {
  text-align: center;
}

body {
  background-color: #FAF0E6
}

.list{
  margin: auto;
  width: 50%;

}


.list h2 {
  text-align: center;
}


.active li:hover{
  background-color: #FFFFFF
}

.active ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.active li {
  float: left;
}

.active li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.active li a:hover {
  background-color: #111;
}

.bullet ul{
  list-style-type: square;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  display: block;

}
