h1 {
  text-align: center;
}

.list{
  margin: auto;
  width: 50%;

}

.list h2 {
  text-align: center;
}


h2{
  text-align:center;
}

nav {
  margin: auto;
  width: 100%;
  text-align: center;
}
.active ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
  background-color: #FFFFFF;
  text-align: center;
  display: inline-block;
}

.active li{
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  float: left;
}

.active li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active li a:hover {
  background-color: grey;
}

.body {
  line-height: 50px;
}
